*~
.DS_Store
node_modules
/dist
dist.tar.gz
test/unit/coverage
test/e2e/reports
selenium-debug.log
package-lock.json
/lanying-im-web
lanying-im-web.tar.gz

# wasm temp
wasm/floo.ts
build

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.hintrc

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
*.sw*

# jsdoc output html dir
docs/
