.layer_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 3;
}

.layer_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  height: 120%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/** layer 公用部分 **/
.layer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  border: 1px solid goldenrod;
  box-shadow: 0 1px 10px 0 rgba(240, 242, 245, 0.98);
}

.layer .layer_header {
  height: 52px;
  line-height: 52px;
  background: #47b6ff;
  position: relative;
  text-indent: 48px;
  font-size: 16px;
  color: #000;
}

.layer .closer {
  margin: 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  background-image: url(/image/close.png);
  background-size: 20px 20px;
  filter: brightness(0) invert(1);
}

.layer .iptFrame {
  border: 1px solid #e6e8eb;
  border-radius: 4px;
  height: 32px;
  margin-left: 28px;
  margin-right: 28px;
}

.layer .iptFrame input {
  border: none;
  width: 90%;
  height: 90%;
  font-size: 14px;
  text-indent: 10px;
  outline: none;
}

.layer .button {
  width: 68px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #000;
  background: #47b6ff;
  font-size: 14px;
  float: right;
  border-radius: 3px;
  padding: 0px 8px 0px 8px;
  margin-right: 15px;
}

.layer .layer_content {
  padding: 20px 10px 10px 20px;
}

.layer .layer_content p.inputer {
  padding: 0;
  margin: 0;
  height: 25px;
  padding: 10px 0;
}

.layer .layer_content p.inputer span {
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: right;
}

.layer .layer_content p.inputer input {
  width: 200px;
  height: 18px;
  border: 1px solid #eee;
  border-radius: 3px;
  float: left;
  margin-left: 15px;
  padding: 2px 5px;
}

.layer .layer_content .search_item {
  padding: 10px 0;
}

.layer .layer_content .search_item .item {
  display: flex;
  flex-direction: row;
}

.layer .layer_content .search_item .name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 20px;
  max-width: 66.6%;
}

.layer .layer_content .search_item .item .rname {
  position: absolute;
  right: 0;
  text-align: center;
  min-width: 33.3%;
}

.layer .layer_content .search_item .action_item {
  margin-top: 5px;
  margin-left: 15px;
}

.layer .layer_footer {
  height: 66px;
  padding-right: 32px;
}

.layer .layer_footer .button-ok {
  width: 68px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000;
  background: #47b6ff;
  font-size: 14px;
  float: right;
  margin-right: 16px;
  margin-top: 13px;
  border-radius: 3px;
}

.layer .layer_footer .button-cancel {
  width: 68px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000;
  background: #f0f2f5;
  font-size: 14px;
  float: right;
  margin-right: 16px;
  margin-top: 13px;
  border-radius: 3px;
}

/*****************************************************************************************/

/** 建群的弹层 **/
.create_group_layer {
  position: absolute;
  left: 280px;
  top: 100px;
  width: 400px;
}

.create_group_layer .layer_content {
  height: 250px;
  overflow-y: auto;
}

.create_group_layer .layer_content .avatar {
  height: 90px;
  width: 90px;
}

.create_group_layer .layer_content .create_group_member_List {
  max-height: 140px;
  overflow-y: auto;
  line-height: 40px;
}

.create_group_layer .layer_content .create_group_member_List > div {
  text-indent: 10px;
  border: 1px solid #eee;
}

.create_group_layer .layer_content .create_group_member_List input {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

.create_group_layer .ispublic {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

/** 添加好友，建群的弹层  很小的那个弹层**/
.header_add_layer {
  position: absolute;
  left: 200px;
  top: 48px;
  width: 120px;
  height: 100px;
  background: #419fe0;
  box-shadow: 0 2px 4px 0 rgba(173, 185, 193, 0.5);
  border-radius: 0 0 2px 2px;
  padding: 10px 0;
}

.header_add_layer p {
  padding: 0;
  margin: 0;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #f0f0f0;
  cursor: pointer;
}

.header_add_layer p:hover {
  background: #f0f0f0;
  color: #4a4a4a;
}

/** 添加好友的layer **/
.add_friend_layer {
  position: fixed;
  width: 400px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add_friend_layer .searcher {
  float: right;
}

.add_friend_layer .canvas {
  width: 200px;
  height: 200px;
  margin-left: 88px;
}

.image_layer {
  position: fixed;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  z-index: 3;
}

.image {
  max-width: 400px;
}

.video_layer {
  position: fixed;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  z-index: 3;
}

.call_panel {
  position: fixed;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(246, 246, 246);
  text-align: center;
  text-indent: 5px;
  font-size: 8px;
  z-index: 3;
}

.call_panel .call_time {
  font-size: 14px;
  z-index: 6;
  position: relative;
}

.call_panel .info {
  width: 100%;
  height: 80px;
  top: 100px;
  position: absolute;
  z-index: 6;
}

.call_panel .layer {
  width: 240px;
  height: 80px;
  top: 450px;
  margin-left: 60px;
  margin-right: 60px;
  background: rgb(246, 246, 246);
  position: absolute;
  border: 0px;
  display: flex;
}

.call_panel .item {
  width: 80px;
  height: 80px;
  background: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
}

.call_panel .caller_layer {
  position: absolute;
  text-indent: 0px;
  top: 540px;
  left: 50%;
  margin-left: -25px;
}

.call_panel .callee_layer {
  position: absolute;
  text-indent: 0px;
  width: 240px;
  top: 540px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
}

.call_panel .button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  margin: auto;
  padding: 5px 5px;
  border-width: 0px;
  z-index: 6;
}

.call_panel .avatar img.av {
  width: 50px;
  height: 50px;
  position: relative;
  margin-bottom: 0px;
  z-index: 6;
}

.call_panel span.display_info {
  color: black;
  z-index: 6;
}

.call_panel .panel_remote {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: auto;
  border-radius: 5px;
  background: rgb(246, 246, 246);
  position: absolute;
  display: block;
  z-index: 4;
  object-fit: cover;
}

.call_panel .panel_local {
  height: 160px;
  width: 90px;
  left: 0px;
  top: 0px;
  margin: auto;
  border-radius: 5px;
  background: rgb(246, 246, 246);
  position: absolute;
  display: block;
  z-index: 5;
}

.call_invite_panel {
  position: fixed;
  max-width: 300px;
  max-height: 120px;
  width: 300px;
  height: 120px;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(246, 246, 246);
  font-size: 8px;
  z-index: 3;
}

.call_invite_panel .info {
  width: 300px;
  height: 80px;
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 6;
  display: flex;
}

.call_invite_panel .info .avatar img.av {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 0px;
  z-index: 6;
}

.call_invite_panel .title {
  left: 55px;
  position: absolute;
}

.call_invite_panel .layer {
  width: 120px;
  height: 50px;
  top: 60px;
  left: 170px;
  background: rgb(246, 246, 246);
  position: absolute;
  border: 0px;
  display: flex;
}

.call_invite_panel .button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  padding: 5px 5px;
  border-width: 0px;
  z-index: 6;
}

.change_appid_layer {
  position: absolute;
  left: 280px;
  top: 150px;
  width: 400px;
}

/*** 群设置 ***/
.group_setting_layer {
  position: fixed;
  width: 400px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.group_setting_layer .group_setting_group {
  border-bottom: 10px solid #ececec;
  margin-bottom: 10px;
}

.group_setting_layer .group_setting_group p {
  border-bottom: 1px solid #ececec;
  margin: 6px;
}

.group_setting_layer .group_setting_group .category {
  overflow: hidden;
  margin-bottom: 10px;
}

.group_setting_layer .group_setting_group .category a {
  float: left;
  padding: 0 8px;
  background: #47b6ff;
  color: white;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
}

.group_setting_layer .group_setting_group .setting_lists {
  margin: 10px 0px 10px 0px;
}

.group_setting_layer .group_setting_group .setting_lists .item {
  padding: 5px;
  line-height: 15px;
  overflow: hidden;
}

.group_setting_layer .group_setting_group .setting_lists .item span {
  float: left;
}

.group_setting_layer .group_setting_group .setting_lists .item input {
  float: right;
}

.group_setting_layer .group_setting_group .setting_lists .category a {
  background: #47b6ff;
}

/** search result ***/

.layer_frame .search_result_layer {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 48px;
  background: #fafafa;
  border-radius: 10px 0px 0px 10px;
}

.layer_frame .search_result_layer .list {
  overflow-y: auto;
  background: #fafafa;
}

.layer_frame .search_result_layer .header {
  height: 16px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
  background: white;
}

.layer_frame .search_result_layer .item {
  height: 60px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #ececec;
}

.layer_frame .search_result_layer .item:hover {
  background: rgba(176, 208, 253, 0.3);
  color: #4a4a4a;
}

.layer_frame .search_result_layer .item i.red {
  color: red;
  padding: 0;
  margin: 0;
}

.layer_frame .search_result_layer .item .avatar {
  height: 32px;
  width: 32px;
  border-radius: 3px;
  margin: 14px 10px 0px 10px;
  float: left;
}

.layer_frame .search_result_layer .item .name {
  margin-left: 60px;
  line-height: 20px;
  padding-top: 12px;
  color: #000;
}

.layer_frame .search_result_layer .item .last_msg {
  height: 20px;
  line-height: 20px;
  margin-left: 60px;
  color: #8798a4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.change_appid_layer .hint {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  color: #e6e6e6;
}
