.support-content {
  background: #fafbfc;
  height: calc(100% - 50px);
  margin-left: 240px;
  border-radius: 0px 0px 10px 0px;
  overflow: hidden;
  margin-left: 0px;
  border-radius: 0px 0px 10px 10px;
  min-width: 360px;
}

/** roster info ***/
.support-content .roster_info .remove {
  height: 44px;
  margin-top: 40px;
}

.support-content .roster_info .remove span {
  width: 300px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #47b6ff;
  border-radius: 5px;
}

.support-content .header {
  height: 39px;
  line-height: 40px;
  position: relative;
  border-bottom: 1px solid #ececec;
  border-radius: 0px;
  text-indent: 15px;
  background-color: #f0f0f0;
}

.support-content .header .header_items {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.support-content .header .header_items .name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 33.3%;
}

.support-content .header .delete_button {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #47b6ff;
  padding-right: 20px;
}

.support-content .header .delete_button:hover {
  color: #880000;
}

.support-content .list {
  width: auto;
  height: calc(100% - 99px);
  overflow-y: auto;
  background-color: #f6f6f6;
}

.support-content .list .messageFrame {
  padding: 10px 15px;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
}

.support-content .list .timeline {
  background-color: #f6f6f6;
}

.support-content .list .messageFrame .support-contentFrame .c_content_ext {
  color: gray;
}

.support-content .list .messageFrame .support-contentFrame .c_content_more {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  margin-right: 5px;
}

.support-content .list .messageFrame .support-contentFrame .c_ext_title {
  color: rgb(180, 180, 180);
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(230, 230, 230);
  font-size: 12px;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.support-content .list .messageFrame .support-contentFrame .c_content {
  word-break: break-all;
  border-radius: 3px;
  padding: 0px 10px 15px;
  line-height: 18px;
  position: relative;
  max-width: calc(100% - 60px);
}

.support-content .list .messageFrame .support-contentFrame .c_content .c_markdown {
  line-height: normal;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.support-contentFrame .messageExt {
  clear: both;
  margin-top: 3px;
  font-size: 10px;
  color: #ccc;
  overflow: hidden;
}

.support-content .list .messageFrame .rosterInfo {
  height: 32px;
  width: 32px;
}

.support-content .list .messageFrame .rosterInfo img {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.self .rosterInfo {
  float: right;
}

.roster .rosterInfo {
  float: left;
}

.self .support-contentFrame {
  float: right;
  text-align: right;
  display: inline-flex;
  align-items: flex-end;
  max-width: 72%;
  min-width: max(66.6%, 290px);
}

.roster .support-contentFrame {
  float: left;
  text-align: left;
  display: block;
  max-width: 72%;
  min-width: max(66.6%, 290px);
}

.support-contentFrame .username {
  font-size: 12px;
  color: #000;
  padding: 0 0 5px 10px;
  margin: 0;
}

.self .support-contentFrame .user_content {
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.roster .support-contentFrame .user_content {
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.history .messageExt {
  display: none;
}

.messageExt .item {
  line-height: 25px;
}

.support-content .c_content {
  white-space: pre-line;
  padding: 0 14px 12px 12px;
  border-radius: 3px;
  margin-left: 6px;
  margin-right: 6px;
}

.support-content .c_content table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  background-color: #fafafa;
}

.support-content .c_content table,
th,
td {
  border: 1px solid gray;
}

.support-content .c_content th,
td {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 50px;
}

.support-content .self .c_content {
  float: right;
  background: #b2d2fb;
  text-align: left;
}

.support-content .roster .c_content {
  float: left;
  background: white;
}

.support-content .c_content img {
  max-width: 200px;
  max-height: 200px;
}

.support-content .notice_frame {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #83898f;
  font-size: 14px;
}

.support-content .c_content .video_frame {
  position: relative;
  max-width: 200px;
}

.support-content .c_content .video_frame .preview {
  display: block;
  max-width: 200px;
  z-index: 1;
}

.support-content .c_content .video_frame .play {
  position: absolute;
  width: 64px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align: center;
  opacity: 0.65;
  z-index: 2;
}

.support-content .c_content .video_frame:hover .play {
  opacity: 1;
}

.support-content .c_content .loc_frame {
  overflow: hidden;
}

.support-content .c_content .loc_frame .loc {
  width: 40px;
  height: 40px;
  float: left;
}

.support-content .c_content .loc_txt {
  margin-left: 5px;
  line-height: 40px;
  cursor: pointer;
  color: #4a90e2;
}

.support-content .c_content .audio_frame {
  overflow: hidden;
}

.support-content .c_content .audio_frame .audio {
  width: 20px;
  height: 25px;
  float: left;
  padding: 7px 20px;
}

.support-content .c_content .audio_txt {
  margin-left: 8px;
  line-height: 40px;
  cursor: pointer;
  color: #4a90e2;
}

/** input **/
.support-content .inputer_frame {
  background-color: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
}

.support-content .inputer_frame .attach {
  height: 28px;
  overflow: hidden;
  /*background-color: #f6f6f6;*/
}

.support-content .inputer_frame .support_link {
  height: 22px;
  width: 100%;
  text-align: right;
  /*opacity: 0.3;*/
  background-color: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
}

.support-content .inputer_frame .support_link a {
  text-decoration: none;
  margin-right: 10px;
  color: gray;
  text: bold;
}

.support-content .inputer_frame .attach .ico {
  float: left;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  margin-left: 10px;
  background-size: 24px 24px;
}

.support-content .inputer_frame .attach .image {
  background-image: url(/image/picture.png);
}

.support-content .inputer_frame .attach .file {
  background-image: url(/image/file.png);
}

.support-content .inputer_frame .attach .location {
  background-image: url(/image/loc2.png);
}

.support-content .inputer_frame .attach .mentionList {
  position: absolute;
  width: 150px;
  height: 200px;
  top: -180px;
  left: 0;
  background: orange;
  overflow-y: auto;
}

.support-content .inputer_frame .input {
  border: 2px solid #e6e6e6;
}

.support-content .inputer_frame .input .input_text {
  height: 40px;
  background-color: #f6f6f6;
  width: calc(100% - 60px);
}

.support-content .chat-index .inputer_frame {
  box-sizing: border-box;
  position: relative;
}

.support-content .chat-index .inputer_frame textarea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  /*padding-bottom: 0px;*/
  font-size: 14px;
  border: none;
}

.support-content .chat-index .inputer_frame textarea::placeholder {
  color: #bbbbbb;
}

.support-content .chat-index [data-popover='tooltip'] {
  background: white;
  color: gray;
  font-size: 10px;
  line-height: 0.8;
  width: 50px !important;
  text-align: center;
  margin-left: 10px;
}

/**** 群 ...*****/
.support-content .chat-index .header .mention_title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background: #eee;
  color: #880000;
  line-height: 20px;
}

.support-content .chat-index .header .mention_title .text {
  line-height: 20px;
}

.support-content .chat-index .header .mention_title .closer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 20px;
  font-size: 20px;
}

.support-content .chat-index .group_memberlist {
  float: right;
  width: 200px;
  border-left: 1px solid #eee;
  height: 75%;
  margin-top: 38px;
  background: white;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
}

.support-content .chat-index .group_memberlist .infos {
  height: 29px;
  line-height: 22px;
  border-bottom: 1px solid #ececec;
  padding: 10px 10px 0;
  font-size: 14px;
}

.support-content .chat-index .group_memberlist .group_count {
  color: #83898f;
  margin-left: 15px;
}

.support-content .chat-index .group_memberlist .setting {
  float: right;
  color: #4a90e2;
  font-size: 12px;
  margin-top: 1px;
}

.support-content .chat-index .group_memberlist .search {
  height: 35px;
  border: 1px solid #eee;
  border-radius: 12px;
  margin: 12px 20px;
  overflow: hidden;
}

.support-content .chat-index .group_memberlist .search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-indent: 5px;
  font-size: 14px;
}

.support-content .chat-index .group_memberlist .gm_list {
  height: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

.support-content .chat-index .group_memberlist .gm_list .item {
  height: 22px;
  padding: 5px 10px;
  line-height: 22px;
}

.support-content .chat-index .group_memberlist .gm_list .item .avatar {
  width: 22px;
  height: 22px;
  float: left;
  border-radius: 3px;
}

.support-content .chat-index .group_memberlist .gm_list .item .name {
  height: 22px;
  margin-left: 28px;
  line-height: 22px;
  font-size: 12px;
  color: #333;
}

.support-content .chat-index .inputer_frame .button {
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-right: 10px;
  float: right;
  border-radius: 2px;
  transform: translate(0, -18px); /* 逆时针旋转45度 */
}

.support-content .chat-index .inputer_frame .button:hover {
  background: #47b6ff;
}

.im_send {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(/image/im_send.png);
  background-size: 40px 40px;
  transform: rotate(-45deg); /* 逆时针旋转45度 */
  transform-origin: center; /* 旋转中心点为容器中心 */
  /*filter: brightness(0) invert(0.9);*/
}
